/* Setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Anton');

/* Setting & Removing Defaults */
html {
  background-color: #f5f5f7;
  background-image: linear-gradient(315deg, #fbfbfd 20%, #f5f5f7 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  padding: 0;
  text-decoration: none;
  color: #000000;
  font-family: 'Cardo', serif;
}

img {
  max-width: 300px;
  max-height: 300px;
  display: block;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


/* Header and Form */
header {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 60%;
}

input[type=text]{
  width: 100%;
  padding: 1rem 0;
  border-radius: 50px;
  padding-left: 1.5rem;
}

input[type=text]::-webkit-input-placeholder,
input[type=text]::-moz-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=text]::-ms-input-placeholder,
input[type=text]::placeholder {
  color: #fff;
  opacity: 0.7;
}

header button {
  margin-top: 10px;
  border-radius: 50px;
  padding: 6px;
  width: 12%;
  min-width: 85px;
  cursor: pointer;
}

/* Excluded focus. Button color will not return to original otherwise */
header button:hover {
  background-color: darkgrey;
  color: white;
}


/* Ul & Li */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

span {
  padding: 0 10px;
}

.albumContainer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-areas: 
    "art album artist"
    "art album artist"
    "art year track"
    "art itunes favorite"
    "art itunes favorite";
  gap: 1.25rem;
  text-align: left;
  width: 100%;
  max-height: 300px;
  margin: 0.5rem 0;
  background-color: #e6e6e6;
  border-radius: 25px;
  overflow: hidden;
  opacity: 0.8;
}

.albumContainer:hover,
.albumContainer:focus {
  background-color: #e9e9e9;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 10px rgba(212,212,212,0.9);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(212,212,212,0.9);
  -moz-box-shadow: 0px 0px 10px 10px rgba(212,212,212,0.9);
  opacity: 1;
  transition: 0.85s;
}

.artAlbum{
  grid-area: art;
  width: 100%;
  display: block;
  border-radius: 25px;
}

.nameAlbum{
    font-size: 1.55rem;
    grid-area: album;
    margin: auto 0;
}

.tracksAlbum {
  font-size: 1.45rem;
  grid-area: track;
  margin: auto 0;
}

.yearAlbum {
    font-size: 1.45rem;
    grid-area: year;
    margin: auto 0;
}

.artistAlbum {
    font-size: 1.45rem;
    grid-area: artist;
    margin: auto 0;
}

.favorite {
  font-size: 1.4rem;
  grid-area: favorite;
  margin: auto 0;
}

.appleMusic {
  font-size: 1.4rem;
  grid-area: itunes;
  margin: auto 0;
}

.svg-inline--fa.fa-times.fa-w-11, 
.svg-inline--fa.fa-star.fa-w-18 { 
  font-size: 1.5rem;
} 

.svg-inline--fa.fa-apple.fa-w-12{
  font-size: 1.8rem;
}

footer {
  padding-bottom: 1rem;
  text-align: center;
  opacity: 0.5;
}

/* Favorites */
.hidden {
  display: none;
}

.favButton{
  background-color: rgb(235, 235, 235);
  border-radius: 50px;
  width: 10%;
  line-height: 40px;
  display: block;
  min-width: 90px;  
}

.favButton:focus,
.favButton:hover{
  background-color: rgb(122, 122, 122);
}

.fa-w-11,
.fa-star {
  cursor: pointer;
}

.cartRemove .svg-inline--fa.fa-times.fa-w-11  {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
}

.cartRemove .svg-inline--fa.fa-times.fa-w-11:focus,
.cartRemove .svg-inline--fa.fa-times.fa-w-11:hover {
  background-color: white;
  border-radius: 100%;
}

.fa-w-11:hover,
.fa-w-11:focus,
.favButton:hover,
.favButton:focus{
  cursor: pointer;
  border-radius: 50px;
}

.cartRemove{
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 40px;
}

.favCart {
  background-color: lightgray;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  max-height: 100vh;
  transition: all 0.5s;
  overflow: scroll;
  margin: 0;
  display: block;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favCart::-webkit-scrollbar { 
    display: none;  
}

.favLi {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 0.2fr;
  grid-template-areas: 
  "img img"
  "album trash"
}

.favLi .svg-inline--fa.fa-times.fa-w-11 {
  width: 35px;
  border-radius: 100%;
}

.favLi .svg-inline--fa.fa-times.fa-w-11:hover {
  background-color: white;
} 

.favImg {
  grid-area: img;
}

.favAlbum {
  grid-area: album;
  font-size: 1rem;
  margin: auto 0;
  max-width: 265px;
  text-align: left;
  padding-left: 12px;
}

.favRemove {
  grid-area: trash;
  margin: auto 0;
  padding-right: 10px;
}

.svg-inline--fa {
  font-size: 1.75rem;
  margin: auto 0;
}




/* Media Query */
@media (max-width: 1150px) {
  .nameAlbum{
    font-size: 1.4rem;
  }

  .tracksAlbum,
  .yearAlbum,
  .artistAlbum,
  .favorite,
  .appleMusic {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .albumContainer {
    grid-template-columns: 1fr 1.5fr 0.8fr;
  }
  
  img{
    min-height: 180px;
    min-width: 180px;
  }

  .nameAlbum {
    font-size: 1.1rem;
  }

  .tracksAlbum,
  .yearAlbum,
  .artistAlbum,
  .favorite,
  .appleMusic {
    font-size: 0.92rem;
  }

  .favLi {
    grid-template-rows: 5fr 1fr;
  }

  .svg-inline--fa.fa-times.fa-w-11, 
  .svg-inline--fa.fa-star.fa-w-18 { 
    font-size: 1.25rem;
  } 

  .svg-inline--fa.fa-apple.fa-w-12{
    font-size: 1.4rem;
  }
}

@media (max-width: 555px) {
  .albumContainer{
    grid-template-rows: 2.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "art"
    "album"
    "year"
    "itunes"
    "favorite";
    max-height: none;
    padding-bottom: 1rem;
  }

  header {
    height: 50vh;
  }

  img {
    max-width: 500px;
    max-height: 500px;
  }

  .favButton {
    width: 25%;
  }

  .favLi img {
    max-width: 300px;
    max-height: 300px;
  }

  .tracksAlbum, 
  .artistAlbum {
    display: none;
  }

  h2,
  h3 {
    text-align: center;
  }
}